.wlist {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 18px;
    margin-top: 60px;
}
.wlist h3.post-title.entry-title {
    padding: 20px 20px 20px 115px;
    text-align: left;
    justify-content: left;
    border-bottom: 2px solid #eee;
    background: transparent;
}

.wlist h3.post-title {
    padding: 20px 20px 20px 115px;
    text-align: left;
    justify-content: left;
    border-bottom: 2px solid #eee;
    background: transparent;
}
.wlist .pimg img {
    height: 88px;
    width: auto;
    position: absolute;
    top: 0px;
    left: 2px;
    border-right: 2px solid #eee;
}
.wlist li {
    list-style-type: none;
    position: relative;
}
.wlist #barcode, .wlist #varos {
    background: #fff;
    border-bottom: 0px solid #eeee;
    display: flex;
    float: left;
    height: 40px;
    padding: 0px;
    width: 50%;
}
.wlist #barcode {
    border-right: 2px solid #eeee;
    box-sizing: border-box;
}
.wlist .plabels {
    padding: 5px;
    justify-content: left;
    background: #fff;
    border: 2px solid #eee;
}
.wlist a.plabel, .wlist a.pcategory {
    background: #eee;
    color: #333;
}
.wlist a:hover.plabel, .wlist a:hover.pcategory {
    background: #ddd;
    color: #333;
}
@media screen and (max-width:740px) {
    .wlist {
        grid-template-columns: auto;
    }
}
@media screen and (max-width:4000px) {
    .wlist .expbc {width: 53%;}
    .wlist .exptitle {font-size:18px; padding: 20px 20px 20px 100px;}
}
