<div class="date"><span class="sdate"><strong>Δευτέρα  </strong>6 Σεπτεμβρίου 2021</span></div>
<div class="fimg"><img alt="" height="auto" src="https://lh3.googleusercontent.com/--gcISGnbwb8/YTDYIaE8iwI/AAAAAAAAAhQ/VBfVDS5LPtQQ2_ax9GhqkJA7jhodQZHlgCLcBGAsYHQ/h1240/mikis.jpg" width="600"></div>
<p>Σας ενημερώνουμε ότι ανανεώσαμε και φέτος τη συνεργασία μας με τον Εκπαιδευτικό
  Όμιλο ΔΙΑΚΡΟΤΗΜΑ, έναν από τους μεγαλύτερους στον κλάδο της φροντιστηριακής
  εκπαίδευσης στη χώρα μας. Ο Όμιλος διαθέτει εκπαιδευτικές μονάδες σε Αττική,
  Θεσσαλονίκη, Αλεξανδρούπολη, Κοζάνη, Κιλκίς, Ιωάννινα, Πάργα, Λαμία, Καβάλα,
  Κόρινθο, Κιάτο, Ξυλόκαστρο, Λευκάδα, Λουτρά Ωραίας Ελένης, Λουτράκι, Ίσθμια,
  Ηράκλειο, Άγιο Νικόλαο Κρήτης και Πύλο.
  .<!--more--></p>

<p>Στα πλαίσια της συμφωνίας για το σχολικό έτος 2021 – 2022, όσοι Συνάδελφοι
  επιθυμούν να εγγράψουν το παιδί τους σε εκπαιδευτικό πρόγραμμα, θα έχουν τις πιο
  κάτω εκπτώσεις:
  <ul>
    <li>20% στα δίδακτρα του Γυμνασίου και του Λυκείου</li>
    <li>25% στα δίδακτρα του Δημοτικού (Κέντρα Σχολικής Μελέτης After School).</li>
  </ul>
</p>

<p><b>Διευκρινίσεις</b>
 <ol>
   <li>
     Εάν ένας μαθητής δικαιούται και άλλες κατηγορίες εκπτώσεων (πολυτέκνων,
      αριστούχων, εκπαιδευτικών), τότε ισχύει η μεγαλύτερη έκπτωση και όχι όλες
      μαζί αθροιστικά.
   </li>
    <li>
      Οι Συνάδελφοι δικαιούνται την έκπτωση, βάσει του επίσημου τιμοκαταλόγου
      διδάκτρων ΔΙΑΚΡΟΤΗΜΑ – AFTER SCHOOL.
    </li>
 </ol> </p>

<p class="qpur" style="padding: 30px; font-size: 20px; line-height: 30px; color: white; background: #372845; font-weight: bold; border-left: 10px solid darkorange;">Παροτρύνουμε τους Συναδέλφους που θα επισκεφθούν τα εκπαιδευτικά
  κέντρα, πρώτα να ρωτούν ποιο είναι το ύψος των διδάκτρων χωρίς έκπτωση
  κι εν συνεχεία να αναφέρουν ότι δικαιούνται έκπτωση ως Εργαζόμενοι της
  ΣΚΛΑΒΕΝΙΤΗΣ.</p>