<div class="date">
  <span class="sdate"><strong>Δευτέρα </strong>6 Σεπτεμβρίου 2021</span>
</div>

<div class="fimg">
  <img alt="" height="auto" src="https://lh3.googleusercontent.com/-Yx-ewdtEDRw/YUBkfiW_C2I/AAAAAAAAAow/l0DNF2kRWeYV8RpoJl_d7P6C3USD37KcACLcBGAsYHQ/h1240/elpedison.jpg" width="600">
</div>
<p>
  Η εταιρεία παραγωγής και παροχής ηλεκτρικής ενέργειας ELPEDISON, η οποία
  διαθέτει καταστήματα στις εμπορικές στοές 5 καταστημάτων ΣΚΛΑΒΕΝΙΤΗΣ
  (ΑΛΙΜΟΣ/021, ΙΛΙΟΝ 035, ΜΑΚΕΔΟΝΙΑ 040, ΝΕΑ ΙΩΝΙΑ 033 και ΠΑΤΡΑ 045) απέστειλε
  την ακόλουθη προσφορά για όλους τους Συναδέλφους:
  </p><a name="more"></a>
<p></p>
<h2><span style="color: #64d400;">Προσφορά στο ηλεκτρικό ρεύμα</span></h2>

<div class="tabtout"><table border="1" cellpadding="10px" style="border-collapse: collapse; width: 100%;">
  <tbody>
    <tr style="height: 22px;">
      <td style="background: white; border: 2px solid rgb(255, 255, 255); height: 22px; width: 24.5931%;">
        &nbsp;
      </td>
      <td style="background-color: #236fa1; border: 2px solid rgb(255, 255, 255); height: 22px; text-align: center; width: 24.5931%;">
        <p>
          <span style="color: white;"><strong>Τιμολόγιο Βασικού παρόχου<br></strong><span style="color: white; font-weight: 400;"><strong>Χρέωση</strong> (€/KWh)</span></span>
        </p>
      </td>
      <td style="background-color: #236fa1; border: 2px solid rgb(255, 255, 255); height: 22px; text-align: center; width: 24.5931%;">
        <p>
          <span style="color: white;"><strong><span style="color: #a2e64e;">ELPEDISON</span> για
              τους<br>Εργαζόμενους
              της<br>ΣΚΛΑΒΕΝΙΤΗΣ<br></strong><span style="color: white; font-weight: 400;"><strong>Χρέωση</strong>
              (€/KWh)</span></span>
        </p>
      </td>
      <td style="background-color: #236fa1; border: 2px solid rgb(255, 255, 255); height: 22px; text-align: center; width: 24.5959%;">
        <p>
          <strong><span style="color: white;">Έκπτωση έναντι<br>βασικού παρόχου<br>(τιμοκατάλογος
              01/09)</span></strong>
        </p>
      </td>
    </tr>
    <tr style="height: 80px;">
      <td style="background-color: #a2e64e; border: 2px solid rgb(255, 255, 255); height: 80px; text-align: center; width: 24.5931%;">
        <p>
          <span style="color: #34495e;"><strong>Χρέωση Ημέρας<br>(0-2000 kWh)</strong></span>
        </p>
      </td>
      <td style="border: 2px solid rgb(255, 255, 255); height: 80px; text-align: center; width: 24.5931%;">
        <p>
          <strong><span style="color: #236fa1;">0,11058 €</span></strong>
        </p>
      </td>
      <td style="border: 2px solid rgb(255, 255, 255); height: 80px; text-align: center; width: 24.5931%;">
        <strong><span style="color: #236fa1;">0,07950 €</span></strong>
      </td>
      <td style="border: 2px solid rgb(255, 255, 255); height: 80px; text-align: center; width: 24.5959%;">
        <span style="color: #e03e2d;"><strong>-29%</strong></span>
      </td>
    </tr>
    <tr style="height: 22px;">
      <td style="background-color: #a2e64e; border: 2px solid rgb(255, 255, 255); height: 22px; text-align: center; width: 24.5931%;">
        <span style="color: #34495e;"><strong>Χρέωση Ημέρας<br>(&gt;2000 kWh)</strong></span>
      </td>
      <td style="border: 2px solid rgb(255, 255, 255); height: 22px; text-align: center; width: 24.5931%;">
        <strong><span style="color: #236fa1;">0,11936 €</span></strong>
      </td>
      <td style="border: 2px solid rgb(255, 255, 255); height: 22px; text-align: center; width: 24.5931%;">
        <strong><span style="color: #236fa1;">0,07950 €</span></strong>
      </td>
      <td style="border: 2px solid rgb(255, 255, 255); height: 22px; text-align: center; width: 24.5959%;">
        <span style="color: #e03e2d;"><strong>-33%</strong></span>
      </td>
    </tr>
    <tr style="height: 22px;">
      <td style="background-color: #a2e64e; border: 2px solid rgb(255, 255, 255); height: 22px; text-align: center; width: 24.5931%;">
        <span style="color: #34495e;"><strong>Χρέωση Νύχτας</strong></span>
      </td>
      <td style="border: 2px solid rgb(255, 255, 255); height: 22px; text-align: center; width: 24.5931%;">
        <strong><span style="color: #236fa1;">0,07897 €</span></strong>
      </td>
      <td style="border: 2px solid rgb(255, 255, 255); height: 22px; text-align: center; width: 24.5931%;">
        <strong><span style="color: #236fa1;">0,05950 €</span></strong>
      </td>
      <td style="border: 2px solid rgb(255, 255, 255); height: 22px; text-align: center; width: 24.5959%;">
        <span style="color: #e03e2d;"><strong>-25%</strong></span>
      </td>
    </tr>
    <tr style="height: 22px;">
      <td style="background-color: #a2e64e; border: 2px solid rgb(255, 255, 255); height: 22px; text-align: center; width: 24.5931%;">
        <span style="color: #34495e;"><strong>Πάγια</strong></span>
      </td>
      <td style="border: 2px solid rgb(255, 255, 255); height: 22px; text-align: center; width: 24.5931%;">
        <p>
          <strong><span style="color: #236fa1;">Κυμαίνεται από<br>1,69€ -7,52€ ανά 4μηνο</span></strong>
        </p>
      </td>
      <td style="border: 2px solid rgb(255, 255, 255); height: 22px; text-align: center; width: 24.5931%;">
        <p>
          <strong><span style="color: #236fa1;">Κυμαίνεται από<br>1,52€ - 6,80€ ανά 4μηνο</span></strong>
        </p>
      </td>
      <td style="border: 2px solid rgb(255, 255, 255); height: 22px; text-align: center; width: 24.5959%;">
        <span style="color: #e03e2d;"><strong>-10%</strong></span>
      </td>
    </tr>
  </tbody>
</table></div>
<p>
  <span style="color: #3598db;">Οι πιο πάνω αναγραφόμενες χρεώσεις για τον βασικό πάροχο προέρχονται από
    τον νέο επίσημο τιμοκατάλογο της 2/9/2019.</span>
</p>
<h3>
  <strong><span style="color: #64d400;">Απαραίτητη προϋπόθεση για την απόκτηση της προσφοράς είναι η αποστολή των
      λογαριασμών αποκλειστικά σε ηλεκτρονική μορφή (e-bill) καθ’ όλη τη διάρκεια του
      συμβολαίου.</span></strong>
</h3>
<ul>
  <li>
    <strong>Τιμή ρεύματος έως και 33% φθηνότερη σε σχέση με τον βασικό
      Προμηθευτή.</strong>
  </li>
  <li><strong>Σταθερές χρεώσεις, χωρίς οποιαδήποτε αναπροσαρμογή.</strong></li>
  <li>
    <strong>Μηδενική εγγύηση για πληρωμές μέσω πάγιας τραπεζικής εντολής.</strong>
  </li>
  <li>
    <strong>Επιστροφή 3% στον λογαριασμό μέσω του προγράμματος «Επιστροφή» της
      Eurobank.</strong>
  </li>
</ul>

<h2><span style="color: #64d400;">Προσφορά ELPEDISON στο Φυσικό Αέριο συνδυαστικά με ηλεκτρικό
    ρεύμα</span></h2>
<ul>
  <li><strong>Έκπτωση 15% στο φυσικό αέριο.</strong></li>
  <li>
    <strong>Επιπλέον έκπτωση 20% στο Φυσικό Αέριο με εμπρόθεσμη εξόφληση λογαριασμού
      για πελάτες
    </strong>
  </li>
  <li><strong>ELPEDISON στο ηλεκτρικό ρεύμα.</strong></li>
  <li>
    <strong>Μηδενική εγγύηση για πληρωμές μέσω πάγιας τραπεζικής εντολής.</strong><br><strong>Επιστροφή 3% στον
      λογαριασμό μέσω του προγράμματος «Επιστροφή» της
      Eurobank.&nbsp;&nbsp;</strong>
  </li>
</ul>
<p>
  Οι ενδιαφερόμενοι έχουν τη δυνατότητα να ενημερωθούν αναλυτικότερα και να
  κάνουν αιτήσεις εγγραφής, στα ακόλουθα καταστήματα:&nbsp;
</p>
<p><strong>Shop in Shop ELPEDISON (καταστήματα ΣΚΛΑΒΕΝΙΤΗΣ)</strong></p>
<div class="tabtout"><table border="1" cellpadding="10px" cellspacing="0" dir="ltr" style="border-collapse: collapse;">
  <tbody>
    <tr>
      <td>Κατάστημα Elpedison</td>
      <td>email</td>
      <td>Τηλέφωνο επικοινωνίας</td>
    </tr>
    <tr>
      <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Κατάστημα Elpedison Νέα Ιωνία&quot;}">
        Νέα Ιωνία
      </td>
      <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;email: shop.neaionia@elpedison.gr&quot;}">
        shop.neaionia@elpedison.gr
      </td>
      <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Τηλέφωνο επικοινωνίας: 2168007123&quot;}">
        2168007123
      </td>
    </tr>
    <tr>
      <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Κατάστημα Elpedison Ίλιον&quot;}">Ίλιον</td>
      <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;email: shop.ilion@elpedison.gr&quot;}">
        shop.ilion@elpedison.gr
      </td>
      <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Τηλέφωνο επικοινωνίας: 2168092991&quot;}">
        2168092991
      </td>
    </tr>
    <tr>
      <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Κατάστημα Elpedison Άλιμος&quot;}">
        Άλιμος
      </td>
      <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;email: shop.alimos@elpedison.gr&quot;}">
        shop.alimos@elpedison.gr
      </td>
      <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Τηλέφωνο επικοινωνίας: 2100104188&quot;}">
        2100104188
      </td>
    </tr>
    <tr>
      <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Κατάστημα Elpedison Patra mall&quot;}">
        Patra Mall
      </td>
      <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;email: shop.patramall@elpedison.gr&quot;}">
        shop.patramall@elpedison.gr
      </td>
      <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Τηλέφωνο επικοινωνίας: 2616008161&quot;}">
        2616008161
      </td>
    </tr>
    <tr>
      <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Κατάστημα Elpedison Makedonia Mall&quot;}">
        Makedonia Mall
      </td>
      <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;email: shop.makedoniamall@elpedison.gr&quot;}">
        shop.makedoniamall@elpedison.gr
      </td>
      <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Τηλέφωνο επικοινωνίας: 2316009750&quot;}">
        2316009750
      </td>
    </tr>
  </tbody>
</table></div>
<p><strong>Καταστήματα ELPEDISON</strong></p>
<div class="tabtout"><table border="1" cellpadding="10px" cellspacing="0" dir="ltr" style="border-collapse: collapse;">
  <tbody>
    <tr>
      <td>Κατάστημα Elpedison</td>
      <td>email</td>
      <td>Τηλέφωνο επικοινωνίας</td>
    </tr>
    <tr>
      <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Κατάστημα Elpedison Νέα Ιωνία&quot;}">
        Νέα Ιωνία
      </td>
      <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;email: shop.neaionia@elpedison.gr&quot;}">
        shop.neaionia@elpedison.gr
      </td>
      <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Τηλέφωνο επικοινωνίας: 2168007123&quot;}">
        2168007123
      </td>
    </tr>
    <tr>
      <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Κατάστημα Elpedison Ίλιον&quot;}">Ίλιον</td>
      <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;email: shop.ilion@elpedison.gr&quot;}">
        shop.ilion@elpedison.gr
      </td>
      <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Τηλέφωνο επικοινωνίας: 2168092991&quot;}">
        2168092991
      </td>
    </tr>
    <tr>
      <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Κατάστημα Elpedison Άλιμος&quot;}">
        Άλιμος
      </td>
      <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;email: shop.alimos@elpedison.gr&quot;}">
        shop.alimos@elpedison.gr
      </td>
      <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Τηλέφωνο επικοινωνίας: 2100104188&quot;}">
        2100104188
      </td>
    </tr>
    <tr>
      <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Κατάστημα Elpedison Patra mall&quot;}">
        Patra Mall
      </td>
      <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;email: shop.patramall@elpedison.gr&quot;}">
        shop.patramall@elpedison.gr
      </td>
      <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Τηλέφωνο επικοινωνίας: 2616008161&quot;}">
        2616008161
      </td>
    </tr>
    <tr>
      <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Κατάστημα Elpedison Makedonia Mall&quot;}">
        Makedonia Mall
      </td>
      <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;email: shop.makedoniamall@elpedison.gr&quot;}">
        shop.makedoniamall@elpedison.gr
      </td>
      <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Τηλέφωνο επικοινωνίας: 2316009750&quot;}">
        2316009750
      </td>
    </tr>
  </tbody>
</table></div>
<p>Απαραίτητα έγγραφα:</p>
<ul>
  <li>Ταυτότητα</li>
  <li>Τελευταίος Εκκαθαριστικός Λογαριασμός του προηγούμενου παρόχου</li>
</ul>

<p>
  <iframe height="580" src="https://drive.google.com/file/d/1TUjTSU0CPnLczrkpb2OXYHKi70jE7nhc/preview" style="border: 0;" width="100%"></iframe>
</p>
<style>
  table {
    border: 0;
     min-width: 700px;
    table-layout: auto;
  }

  td {
    padding: 10px;
    border: 1px solid #fff;
  }
</style>